<div id="content">
<ul>
	<li><%= link_to "Portfolio", :controller => "maps", :action => "send_simple_map" %>
	<li><%= link_to "Portfolio changes", :controller => "maps", :action => "send_delta_map" %>
	<li><%= link_to "Recently completed", :controller => "maps", :action => "send_done_map" %>
	<li><%= link_to "New projects", :controller => "maps", :action => "send_new_project_map" %>
	<li><%= link_to "Metamap", :controller => "maps", :action => "send_meta_map" %>
	<li><%= link_to "Word cloud", :controller => "clouds", :action => "create" %>
</ul>
<hr/>
<p>Create custom map
	<%= form_tag( '/focus/custom.mm' ) do %>
	From: <%= date_select( 'map', 'from' , :default => 7.days.ago ) %><br/>
	To:  <%= date_select( 'map', 'to' ) %><br/>
	Exclude these: <%= text_field_tag( 'exclude', value = "Personal" )%><br/>
	Show weights:  <%= check_box_tag( 'show weights' ) %><br/>
	And choose <%= submit_tag( 'All' ) %>, <%= submit_tag( 'Completed' ) %> or 
	<%= submit_tag( 'New projects' ) %>
			<% end %>
</p>
<hr/>
<p>Stalled projects
	<ul>
	<% focus.list.stalled.projects.each do | p | %>
		<li><%= p.name %>
	<% end %>
	</ul>
</p>
<p>Actions completed in last 3 days
	<ul>
	<% focus.list.completed.actions.select{ | a | a.completed_date >= Date.today - 3 }.sort_by( &:completed_date ).reverse.each do | a | %>
		<li><%= "#{a.name} (#{a.parent.name})" %>
	<% end %>
	</ul>
</p>
</div>

<div id="sidebar">
	<%= render 'shared/status_table' %>
</div>