<p>
	<%- #todo: helper method instead?
	flash.each do |msg_type, msgs |
		msgs.each do | msg | %>
		<div class="<%= msg.type %>" id="<%= msg.id %>">
			<p style="float:right;">X</p>
			<p><%= msg.message %></p>
			<div class="clear"></div>
			<script>
			$("#<%= msg.id %>").click(function(){$(this).slideUp("fast")});
			$("#<%= msg.id %>").delay(<%= msg.period %>).slideUp("slow");
			</script>
		</div>
		<%- end -%>
	<%- end -%>
</p>
