<%- logger.info("Received #{msg}") %>
<div class="<%= msg.type %>" id="<%= msg.id %>">
	<p style="float:right;">X</p>
	<p><%= msg.message %></p>
	<div class="clear"></div>
	<script>
	$("#<%= msg.id %>").click(function(){$(this).slideUp()});
	$("#<%= msg.id %>").delay(7000).slideUp("slow");
	</script>
</div>