<%- msg_type, msg_id, msg = msg -%>
<div class="<%= msg_type %>" id="<%= msg_id %>">
	<p style="float:right;">X</p>
	<p><%= msg %></p>
	<div class="clear"></div>
	<script>
	$("#<%= msg_id %>").click(function(){$(this).slideUp()});
	$("#<%= msg_id %>").delay(7000).slideUp("slow");
	</script>
</div>