%table
	%tr
		%th
		%th	Projects
		%th Actions
	%tr{:class => "odd"}
		%th Done this week
		%td= focus.list.projects.completed_in_last( 7.days ).count 
		%td= focus.list.actions.completed_in_last( 7.days ).count 
	%tr
		%th Active
		%td= focus.list.active.projects.count
		%td= focus.list.active.actions.count
	%tr{:class => "odd"}
		%th Remaining
		%td= focus.list.remaining.projects.count 
		%td= focus.list.remaining.actions.count